In [439]:
#importing pandas
import pandas as pd

In [440]:
#creating inital llj dataframe
dfllj = pd.read_csv('/Users/matt/Desktop/LLJ-Data/llj.csv')

In [441]:
#creating inital spec dataframe
dfspec = pd.read_csv('/Users/matt/Desktop/LLJ-Data/spectrum.csv')

In [442]:
#getting information about llj dataframe
dfllj.describe(include = 'all')

,Title,Author,Citation,Issue,Type,Description
count,3089,2532,4972,4543,4972,3218
unique,2779,1628,4938,11,12,699
top,Keeping up with New Legal Titles,"Whisner, Mary",102 Law Libr. J. [i] (2010),Issue 1,article,Comments
freq,51,65,4,1177,1715,174

In [443]:
#determining number of observation missing author field llj
AuthorBlankLLJ = dfllj['Author'].isna().sum()
print(f"Number of rows missing the '{'Author'}' field in '{'dfllj'}' {AuthorBlankLLJ}")

Number of rows missing the 'Author' field in 'dfllj' 2440

In [444]:
#determining number of observations missing title field llj
TitleBlankLLJ = dfllj['Title'].isna().sum()
print(f"Number of rows missing the '{'Title'}' field in '{'dfllj'}': {TitleBlankLLJ}")

Number of rows missing the 'Title' field in 'dfllj': 1883

In [445]:
#determing number of observations missing author and title field llj
AuthorTitleBlankLLJ = dfllj[dfllj['Author'].isna() & dfllj['Title'].isna()].shape[0]
print(f"Number of rows missing the '{'Author'}' field and '{'Title'}' field in '{'dfllj'}': {AuthorTitleBlankLLJ} ")

Number of rows missing the 'Author' field and 'Title' field in 'dfllj': 1876

In [446]:
#getting information about spec dataframe
dfspec.describe(include='all')

,Title,Author,Citation,Issue,Type,Description
count,2340,2068,2790,2764,2790,2154
unique,2257,1281,1060,11,8,214
top,Washington Brief,"Healey, Paul D.",13 AALL Spectrum 1 (2008-2009),Issue 1,article,Feature
freq,14,52,18,418,1096,400

In [447]:
#determining number of observations missing author field spec
AuthorBlankSpec = dfspec['Author'].isna().sum()
print(f"Number of rows missing the '{'Author'}' field in '{'dfspec'}': {AuthorBlankSpec}")

Number of rows missing the 'Author' field in 'dfspec': 722

In [448]:
#determining number of observations missing title field spec
TitleBlankSpec = dfspec['Title'].isna().sum()
print(f"Number of rows missing the '{'Title'}' field in '{'dfspec'}': {TitleBlankSpec}")

Number of rows missing the 'Title' field in 'dfspec': 450

In [449]:
#determining number of observations missing author and title field spec 
AuthorTitleBlankSpec = dfspec[dfspec['Author'].isna() & dfspec['Title'].isna()].shape[0]
print(f"Number of rows missing the '{'Author'}' field and '{'Title'}' field in '{'dfllj'}': {AuthorTitleBlankSpec} ")

Number of rows missing the 'Author' field and 'Title' field in 'dfllj': 420

In [450]:
#total observations across both data frames missing author and title fields 
TotalMissing = AuthorTitleBlankLLJ + AuthorTitleBlankSpec
print(f"Number of rows across both dataframes missing '{'Author'}' and '{'Title'}' fields: {TotalMissing}")

Number of rows across both dataframes missing 'Author' and 'Title' fields: 2296

In [451]:
#conducting random sampling of data frames to determine if any useful data entries would be lost if some were excluded due to blank fields
rsmissingAT_dfllj = dfllj[dfllj['Title'].isna() & dfllj ['Author'].isna()].sample(n=188)
print(rsmissingAT_dfllj)

     Title Author                       Citation    Issue      Type   \
1342   NaN    NaN     33 Law Libr. J. 157 (1940)  Issue 4    reviews
1334   NaN    NaN     33 Law Libr. J. 122 (1940)  Issue 3      index
4019   NaN    NaN   84 Law. Libr. J. [ix] (1992)      NaN   contents
3211   NaN    NaN     71 Law Libr. J. [i] (1978)      NaN  titlepage
4436   NaN    NaN     91 Law Libr. J. 643 (1999)  Issue 3   comments
...    ...    ...                            ...      ...        ...
2867   NaN    NaN     65 Law Libr. J. 104 (1972)  Issue 1    reviews
1019   NaN    NaN     22 Law Libr. J. [i] (1929)      NaN  titlepage
3692   NaN    NaN  79 Law. Libr. J. [iii] (1987)      NaN   contents
3643   NaN    NaN   78 Law. Libr. J. [ix] (1986)      NaN   contents
4418   NaN    NaN     91 Law Libr. J. 277 (1999)  Issue 2   contents

                                            Description
1342                                       Book Reviews
1334  Check List of National Reporter System/List of...
4019                         Table of Contents--Issue 4
3211                                         Title Page
4436                                           Memorial
...                                                 ...
2867                                    Book Appraisals
1019                                         Title Page
3692                         Table of Contents--Issue 1
3643                         Table of Contents--Issue 4
4418                         Table of Contents--Issue 2

[188 rows x 6 columns]

In [452]:
rsmissingAT_dfllj.info()

<class 'pandas.core.frame.DataFrame'>
Index: 188 entries, 1342 to 4418
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        0 non-null      object
 1   Author       0 non-null      object
 2   Citation     188 non-null    object
 3   Issue        152 non-null    object
 4   Type         188 non-null    object
 5   Description  188 non-null    object
dtypes: object(6)
memory usage: 10.3+ KB

In [453]:
rsmissingAT_type_counts_dfllj = rsmissingAT_dfllj['Type '].value_counts()
print(rsmissingAT_type_counts_dfllj)

Type
comments       40
contents       38
misc           31
index          28
notes          27
reviews        17
titlepage       5
legislation     2
Name: count, dtype: int64

In [454]:
rsmissingAT_dfspec = dfspec[dfspec['Title'].isna() & dfllj ['Author'].isna()].sample(n=42)
print(rsmissingAT_dfspec)

     Title             Author                                     Citation  \
2134   NaN                NaN        21 AALL Spectrum 2 (March/April 2017)
2176   NaN                NaN       21 AALL Spectrum 57 (July/August 2017)
2427   NaN                NaN               24 AALL Spectrum 2 (2019-2020)
1886   NaN                NaN               19 AALL Spectrum 1 (2014-2015)
877    NaN                NaN               11 AALL Spectrum 1 (2006-2007)
1082   NaN                NaN               13 AALL Spectrum 2 (2008-2009)
1001   NaN                NaN              12 AALL Spectrum 36 (2007-2008)
2      NaN  Houdek, Frank G.                 1 AALL Spectrum 4 (1996-1997)
1497   NaN                NaN               16 AALL Spectrum 2 (2011-2012)
2709   NaN                NaN               26 AALL Spectrum 2 (2021-2022)
1342   NaN                NaN              15 AALL Spectrum 15 (2010-2011)
1127   NaN                NaN               13 AALL Spectrum 1 (2008-2009)
108    NaN                NaN                2 AALL Spectrum 2 (1997-1998)
1899   NaN                NaN               19 AALL Spectrum 1 (2014-2015)
1018   NaN                NaN               12 AALL Spectrum 2 (2007-2008)
1063   NaN                NaN              12 AALL Spectrum 28 (2007-2008)
934    NaN                NaN               11 AALL Spectrum 2 (2006-2007)
1078   NaN                NaN              12 AALL Spectrum 39 (2007-2008)
84     NaN                NaN                1 AALL Spectrum 2 (1996-1997)
1340   NaN                NaN              15 AALL Spectrum 12 (2010-2011)
963    NaN                NaN              12 AALL Spectrum 54 (2007-2008)
1620   NaN                NaN               17 AALL Spectrum 1 (2012-2013)
1264   NaN                NaN              14 AALL Spectrum 27 (2009-2010)
1158   NaN                NaN              13 AALL Spectrum 33 (2008-2009)
1029   NaN                NaN              12 AALL Spectrum 36 (2007-2008)
54     NaN                NaN                1 AALL Spectrum 2 (1996-1997)
2088   NaN                NaN  21 AALL Spectrum 2 (September/October 2016)
1871   NaN                NaN              19 AALL Spectrum 36 (2014-2015)
1032   NaN                NaN               12 AALL Spectrum 2 (2007-2008)
691    NaN                NaN                8 AALL Spectrum 2 (June 2004)
1299   NaN                NaN               14 AALL Spectrum 2 (2009-2010)
2234   NaN                NaN               22 AALL Spectrum 7 (2017-2018)
1854   NaN                NaN              18 AALL Spectrum 30 (2013-2014)
898    NaN                NaN               11 AALL Spectrum 2 (2006-2007)
1945   NaN   Catterall, Susan              19 AALL Spectrum 34 (2014-2015)
1846   NaN                NaN               18 AALL Spectrum 5 (2013-2014)
1702   NaN                NaN               17 AALL Spectrum 2 (2012-2013)
549    NaN                NaN                7 AALL Spectrum 2 (2002-2003)
2756   NaN                NaN                    27 AALL Spectrum 9 (2022)
1335   NaN                NaN             15 AALL Spectrum [i] (2010-2011)
451    NaN                NaN              6 AALL Spectrum [i] (2001-2002)
1119   NaN                NaN               13 AALL Spectrum 2 (2008-2009)

        Issue      Type                                Description
2134  Issue 4   contents                         Table of Contents
2176  Issue 6      notes                             Favorite Apps
2427  Issue 3   contents                         Table of Contents
1886  Issue 2      notes                            The CRIV Sheet
877   Issue 2      notes                            The CRIV Sheet
1082  Issue 1   contents                         Table of Contents
1001  Issue 4      notes                             Announcements
2     Issue 1   comments                 Presidential Proclamation
1497  Issue 4   contents                         Table of Contents
2709  Issue 5   contents                         Table of Contents
1342  Issue 1      notes                        The Reference Desk
1127  Issue 3      notes  102nd AALL Annual Meeting and Conference
108   Issue 1   contents               Table of Contents - Issue 1
1899  Issue 3      notes                         Members' Briefing
1018  Issue 6   contents               Table of Contents - Issue 6
1063  Issue 8      notes                             Announcements
934   Issue 9   contents               Table of Contents - Issue 9
1078  Issue 9      notes                             Announcements
84    Issue 9   contents               Table of Contents - Issue 9
1340  Issue 1   comments                        From the Secretary
963   Issue 1      notes                              Announcement
1620  Issue 3      notes                         Members' Briefing
1264  Issue 3      notes                                     Notes
1158  Issue 5      notes                             Announcements
1029  Issue 6      notes                               Departments
54    Issue 6   contents               Table of Contents - Issue 6
2088  Issue 1   contents                         Table of Contents
1871  Issue 1       misc                   Miscellaneous Documents
1032  Issue 7   contents               Table of Contents - Issue 7
691   Issue 8   contents               Table of Contents - Issue 8
1299  Issue 7   contents               Table of Contents - Issue 7
2234  Issue 4      notes                                  Up Front
1854  Issue 9       misc                   Miscellaneous Documents
898   Issue 5   contents               Table of Contents - Issue 5
1945  Issue 6      notes                        The Reference Desk
1846  Issue 9   comments                      Letter to the Editor
1702  Issue 9   contents                         Table of Contents
549   Issue 2   contents               Table of Contents - Issue 2
2756  Issue 1      notes                    Up Front: News & Notes
1335      NaN  titlepage                                Title Page
451       NaN  titlepage                                Title Page
1119  Issue 3   contents                         Table of Contents

/var/folders/51/1bmpv68x1h3gvxqw6fktjqh80000gn/T/ipykernel_18681/1489894842.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  rsmissingAT_dfspec = dfspec[dfspec['Title'].isna() & dfllj ['Author'].isna()].sample(n=42)

In [455]:
rsmissingAT_dfspec.info()

<class 'pandas.core.frame.DataFrame'>
Index: 42 entries, 2134 to 1119
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        0 non-null      object
 1   Author       2 non-null      object
 2   Citation     42 non-null     object
 3   Issue        40 non-null     object
 4   Type         42 non-null     object
 5   Description  42 non-null     object
dtypes: object(6)
memory usage: 2.3+ KB

In [456]:
rsmissingAT_type_counts_dfspec = rsmissingAT_dfspec['Type '].value_counts()
# ? what is the right variable name
print(rsmissingAT_type_counts_dfspec)

Type
contents     18
notes        17
comments      3
misc          2
titlepage     2
Name: count, dtype: int64

In [457]:
#trying to create new dataframe where all rows that were missing Author field in lljcsv are dropped
dflljauthor = dfllj.dropna(subset=['Author'])
dflljauthor.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2532 entries, 5 to 4962
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        2525 non-null   object
 1   Author       2532 non-null   object
 2   Citation     2532 non-null   object
 3   Issue        2519 non-null   object
 4   Type         2532 non-null   object
 5   Description  924 non-null    object
dtypes: object(6)
memory usage: 138.5+ KB

In [458]:
#trying to create new dataframe where all rows that were missing Author field in speccsv are dropped 
dfspecauthor = dfspec.dropna(subset=['Author'])
dfspecauthor.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2068 entries, 2 to 2788
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        2038 non-null   object
 1   Author       2068 non-null   object
 2   Citation     2068 non-null   object
 3   Issue        2068 non-null   object
 4   Type         2068 non-null   object
 5   Description  1441 non-null   object
dtypes: object(6)
memory usage: 113.1+ KB

In [459]:
#trying to turn to authors to list for explode command, but getting warning: A value is trying to be set on a copy of a slice from a DataFrame.
dflljauthor['Author'] = dflljauthor['Author'].str.split(',')

/var/folders/51/1bmpv68x1h3gvxqw6fktjqh80000gn/T/ipykernel_18681/2448256441.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dflljauthor['Author'] = dflljauthor['Author'].str.split(',')

In [460]:
dflljauthor = dflljauthor.explode('Author')
dflljauthor.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5487 entries, 5 to 4962
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        5471 non-null   object
 1   Author       5487 non-null   object
 2   Citation     5487 non-null   object
 3   Issue        5461 non-null   object
 4   Type         5487 non-null   object
 5   Description  2031 non-null   object
dtypes: object(6)
memory usage: 300.1+ KB

In [461]:
#trying to turn to authors to list for explode command, but getting warning: A value is trying to be set on a copy of a slice from a DataFrame.
dfspecauthor['Author'] = dfspecauthor['Author'].str.split(',')

/var/folders/51/1bmpv68x1h3gvxqw6fktjqh80000gn/T/ipykernel_18681/1010914636.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfspecauthor['Author'] = dfspecauthor['Author'].str.split(',')

In [462]:
dfspecauthor = dfspecauthor.explode('Author')
dfspecauthor.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4605 entries, 2 to 2788
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        4545 non-null   object
 1   Author       4605 non-null   object
 2   Citation     4605 non-null   object
 3   Issue        4605 non-null   object
 4   Type         4605 non-null   object
 5   Description  3116 non-null   object
dtypes: object(6)
memory usage: 251.8+ KB