In [2]:
import pandas as pd

In [3]:
dfllj = pd.read_csv('/Users/matt/Desktop/LLJ-Data/llj.csv')

In [4]:
dfspec = pd.read_csv('/Users/matt/Desktop/LLJ-Data/spectrum.csv')

In [ ]:
dfllj.describe(include = 'all')

,Title,Author,Citation,Issue,Type,Description
count,3089,2532,4972,4543,4972,3218
unique,2779,1628,4938,11,12,699
top,Keeping up with New Legal Titles,"Whisner, Mary",102 Law Libr. J. [i] (2010),Issue 1,article,Comments
freq,51,65,4,1177,1715,174

In [ ]:
AuthorBlankLLJ = dfllj['Author'].isna().sum()
print(f"Number of rows missing the '{'Author'}' field in '{'dfllj'}' {AuthorBlankLLJ}")

Number of rows missing the 'Author' field in 'dfllj' 2440

In [ ]:
TitleBlankLLJ = dfllj['Title'].isna().sum()
print(f"Number of rows missing the '{'Title'}' field in '{'dfllj'}': {TitleBlankLLJ}")

Number of rows missing the 'Title' field in 'dfllj': 1883

In [ ]:
AuthorTitleBlankLLJ = dfllj[dfllj['Author'].isna() & dfllj['Title'].isna()].shape[0]
print(f"Number of rows missing the '{'Author'}' field and '{'Title'}' field in '{'dfllj'}': {AuthorTitleBlankLLJ} ")

Number of rows missing the 'Author' field and 'Title' field in 'dfllj': 1876

In [ ]:
dfspec.describe(include='all')

,Title,Author,Citation,Issue,Type,Description
count,2340,2068,2790,2764,2790,2154
unique,2257,1281,1060,11,8,214
top,Washington Brief,"Healey, Paul D.",13 AALL Spectrum 1 (2008-2009),Issue 1,article,Feature
freq,14,52,18,418,1096,400

In [ ]:
AuthorBlankSpec = dfspec['Author'].isna().sum()
print(f"Number of rows missing the '{'Author'}' field in '{'dfspec'}': {AuthorBlankSpec}")

Number of rows missing the 'Author' field in 'dfspec': 722

In [ ]:
TitleBlankSpec = dfspec['Title'].isna().sum()
print(f"Number of rows missing the '{'Title'}' field in '{'dfspec'}': {TitleBlankSpec}")

Number of rows missing the 'Title' field in 'dfspec': 450

In [ ]:
AuthorTitleBlankSpec = dfspec[dfspec['Author'].isna() & dfspec['Title'].isna()].shape[0]
print(f"Number of rows missing the '{'Author'}' field and '{'Title'}' field in '{'dfllj'}': {AuthorTitleBlankSpec} ")

Number of rows missing the 'Author' field and 'Title' field in 'dfllj': 420

In [ ]:
TotalMissing = AuthorTitleBlankLLJ + AuthorTitleBlankSpec
print(f"Number of rows across both dataframes missing '{'Author'}' and '{'Title'}' fields: {TotalMissing}")

Number of rows across both dataframes missing 'Author' and 'Title' fields: 2296

In [ ]:
rsmissingAT_dfllj = dfllj[dfllj['Title'].isna() & dfllj ['Author'].isna()].sample(n=188)
print(rsmissingAT_dfllj)

     Title Author                      Citation    Issue      Type   \
4430   NaN    NaN    91 Law Libr. J. 441 (1999)  Issue 3    reviews
4654   NaN    NaN    95 Law Libr. J. 321 (2003)  Issue 2   contents
2266   NaN    NaN    54 Law Libr. J. 208 (1961)  Issue 3    reviews
3691   NaN    NaN   79 Law. Libr. J. [i] (1987)      NaN  titlepage
1543   NaN    NaN     38 Law Libr. J. 50 (1945)  Issue 2      index
...    ...    ...                           ...      ...        ...
2001   NaN    NaN    49 Law Libr. J. 324 (1956)  Issue 3      index
1101   NaN    NaN     26 Law Libr. J. ii (1933)      NaN   contents
3285   NaN    NaN  72 Law Libr. J. [iii] (1979)      NaN   contents
3051   NaN    NaN     68 Law Libr. J.  v (1975)      NaN      index
3754   NaN    NaN  8 Law Libr. J. 9 (1915-1916)  Issue 2      notes

                                            Description
4430            Legal Reference Books of 1998, Part One
4654                        Table of Contents - Issue 3
2266      Review of Space Law Literature and Activities
3691                                         Title Page
1543  Anglo-American Legal Periodicals: Births, Deat...
...                                                 ...
2001  Checklist of Current State, Federal and Canadi...
1101                       Table of Contents--Volume 26
3285                         Table of Contents--Issue 1
3051                                 Index to Volume 68
3754  American Association of Law Libraries Tenth An...

[188 rows x 6 columns]

In [ ]:
rsmissingAT_dfllj.info()

<class 'pandas.core.frame.DataFrame'>
Index: 188 entries, 4209 to 4438
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        0 non-null      object
 1   Author       0 non-null      object
 2   Citation     188 non-null    object
 3   Issue        150 non-null    object
 4   Type         188 non-null    object
 5   Description  188 non-null    object
dtypes: object(6)
memory usage: 10.3+ KB

In [ ]:
rsmissingAT_type_counts_dfllj = rsmissingAT_dfllj['Type '].value_counts()
print(rsmissingAT_type_counts_dfllj)

Type
comments       42
misc           33
index          31
contents       26
notes          26
reviews        17
titlepage      12
legislation     1
Name: count, dtype: int64

In [ ]:
rsmissingAT_dfspec = dfspec[dfspec['Title'].isna() & dfllj ['Author'].isna()].sample(n=42)
print(rsmissingAT_dfspec)

     Title            Author                                      Citation  \
1962   NaN               NaN                19 AALL Spectrum 1 (2014-2015)
1523   NaN               NaN                16 AALL Spectrum 2 (2011-2012)
2569   NaN               NaN                25 AALL Spectrum 9 (2020-2021)
2334   NaN               NaN                23 AALL Spectrum 9 (2018-2019)
0      NaN               NaN               1 AALL Spectrum [i] (1996-1997)
1597   NaN  Catterall, Susan               17 AALL Spectrum 38 (2012-2013)
691    NaN               NaN                 8 AALL Spectrum 2 (June 2004)
1702   NaN               NaN                17 AALL Spectrum 2 (2012-2013)
1700   NaN               NaN               17 AALL Spectrum 32 (2012-2013)
1101   NaN               NaN               13 AALL Spectrum 52 (2008-2009)
24     NaN               NaN                 1 AALL Spectrum 6 (1996-1997)
2120   NaN               NaN    21 AALL Spectrum 7 (January/February 2017)
414    NaN               NaN                 5 AALL Spectrum 2 (2000-2001)
2550   NaN               NaN                25 AALL Spectrum 9 (2020-2021)
1471   NaN               NaN               16 AALL Spectrum 32 (2011-2012)
1266   NaN               NaN                14 AALL Spectrum 2 (2009-2010)
1062   NaN               NaN               12 AALL Spectrum 26 (2007-2008)
2101   NaN               NaN  21 AALL Spectrum 48 (September/October 2016)
1146   NaN               NaN                13 AALL Spectrum 1 (2008-2009)
1076   NaN               NaN               12 AALL Spectrum 34 (2007-2008)
2149   NaN               NaN            21 AALL Spectrum 2 (May/June 2017)
1535   NaN               NaN                16 AALL Spectrum 2 (2011-2012)
2687   NaN               NaN                26 AALL Spectrum 2 (2021-2022)
1173   NaN               NaN                13 AALL Spectrum 2 (2008-2009)
11     NaN               NaN                 1 AALL Spectrum 2 (1996-1997)
2427   NaN               NaN                24 AALL Spectrum 2 (2019-2020)
1358   NaN               NaN                15 AALL Spectrum 2 (2010-2011)
1659   NaN               NaN                17 AALL Spectrum 1 (2012-2013)
1470   NaN               NaN               16 AALL Spectrum 31 (2011-2012)
2447   NaN               NaN                24 AALL Spectrum 2 (2019-2020)
247    NaN               NaN                 3 AALL Spectrum 2 (1998-1999)
1264   NaN               NaN               14 AALL Spectrum 27 (2009-2010)
2666   NaN               NaN                26 AALL Spectrum 2 (2021-2022)
1185   NaN               NaN               13 AALL Spectrum 36 (2008-2009)
1082   NaN               NaN                13 AALL Spectrum 2 (2008-2009)
2232   NaN               NaN                22 AALL Spectrum 2 (2017-2018)
1763   NaN  Catterall, Susan               18 AALL Spectrum 31 (2013-2014)
1323   NaN               NaN                14 AALL Spectrum 2 (2009-2010)
1613   NaN               NaN                17 AALL Spectrum 1 (2012-2013)
405    NaN               NaN                 5 AALL Spectrum 2 (2000-2001)
1018   NaN               NaN                12 AALL Spectrum 2 (2007-2008)
2248   NaN               NaN                22 AALL Spectrum 2 (2017-2018)

        Issue      Type                   Description
1962  Issue 7      notes               The CRIV Sheet
1523  Issue 6   contents            Table of Contents
2569  Issue 4      notes       Up Front: News & Notes
2334  Issue 4      notes       Up Front: News & Notes
0         NaN  titlepage                   Title Page
1597  Issue 1      notes           The Reference Desk
691   Issue 8   contents  Table of Contents - Issue 8
1702  Issue 9   contents            Table of Contents
1700  Issue 8       misc      Miscellaneous Documents
1101  Issue 1      notes                Announcements
24    Issue 3   comments                  Spectrumail
2120  Issue 3      notes                     Up Front
414   Issue 8   contents  Table of Contents - Issue 8
2550  Issue 3      notes     Up Front: News and Notes
1471  Issue 1      notes               Views from You
1266  Issue 4   contents  Table of Contents - Issue 4
1062  Issue 8      notes                  Departments
2101  Issue 1      notes                    Wild Card
1146  Issue 4      notes               The CRIV Sheet
1076  Issue 9      notes                  Departments
2149  Issue 5   contents            Table of Contents
1535  Issue 7   contents            Table of Contents
2687  Issue 4   contents            Table of Contents
1173  Issue 7   contents            Table of Contents
11    Issue 2   contents  Table of Contents - Issue 2
2427  Issue 3   contents            Table of Contents
1358  Issue 2   contents  Table of Contents - Issue 2
1659  Issue 6      notes            Members' Briefing
1470  Issue 1      notes                    Memorials
2447  Issue 4   contents            Table of Contents
247   Issue 9   contents  Table of Contents - Issue 9
1264  Issue 3      notes                        Notes
2666  Issue 3   contents            Table of Contents
1185  Issue 7      notes                        Notes
1082  Issue 1   contents            Table of Contents
2232  Issue 4   contents            Table of Contents
1763  Issue 3   comments           The Reference Desk
1323  Issue 9   contents  Table of Contents - Issue 9
1613  Issue 3   comments              From the Editor
405   Issue 7   contents  Table of Contents - Issue 7
1018  Issue 6   contents  Table of Contents - Issue 6
2248  Issue 5   contents            Table of Contents

/var/folders/51/1bmpv68x1h3gvxqw6fktjqh80000gn/T/ipykernel_11372/1489894842.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  rsmissingAT_dfspec = dfspec[dfspec['Title'].isna() & dfllj ['Author'].isna()].sample(n=42)

In [ ]:
rsmissingAT_dfspec.info()

<class 'pandas.core.frame.DataFrame'>
Index: 42 entries, 1962 to 2248
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        0 non-null      object
 1   Author       2 non-null      object
 2   Citation     42 non-null     object
 3   Issue        41 non-null     object
 4   Type         42 non-null     object
 5   Description  42 non-null     object
dtypes: object(6)
memory usage: 2.3+ KB

In [ ]:
rsmissingAT_type_counts_dfspec = rsmissingAT_dfspec['Type '].value_counts()
#? what is the right variable name
print(rsmissingAT_type_counts_dfspec)

Type
contents     21
notes        16
comments      3
titlepage     1
misc          1
Name: count, dtype: int64